@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --gr: #f0f2f5;
  --ge: #20dc49;
  --gg:#7E7E7E;
  --gn:#DBDBDB;

}
.bgi-1 {
  background-image: url(./img/bg1.svg);
  background-repeat: no-repeat;
  width: 50%;
  height: 90rem;
}
.bg-gray {
  width: 55%;
  height: 900px;
  background-color: var(--gr);
}
.but1 {
  background-color: var(--ge);
  padding: .67rem 3.1rem ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.75rem;
  width:17rem;
  height:4.4rem;
  border: 0;
}
.mn
{
 margin-left: -2.6rem;
}
.mng
{
margin-right: -26rem;
}
.p-top1
{
    padding-top: 13rem;
}
.bgi-2 {
    background-image: url(./img/r10.png);
    background-repeat: no-repeat;
    width: 50%;
    height: 10rem;
  }
.cgr
{
    color: var(--ge);
}
.cgg
{
    color: var(--gg); 
}
.line1
{
    width: 130px;
    height: 0.1rem;
    background-color: var(--gn);
}
.bx1
{
width: 126px;
height: 43px;
border-radius: 0.5rem;
border: 1px solid #20DC49;
background: #FFF;
display: flex;
align-items: center;
justify-content: center;
gap:.8rem;
}
.bx2
{
width: 126px;
height: 43px;
border-radius: 0.5rem;
background: #FFF;
display: flex;
align-items: center;
justify-content: center;
gap:.8rem;
}
body
{
    font-family:'Roboto', sans-serif;
    color:#040404 ;
}
input[type="text"] {
   width: 400px;
   height: 70px;
   margin-top: 1rem;
   border-radius: 1rem;
   border: 1px solid #D9D9D9;
   background: #FFF;
   padding-left: 2rem;
}
.butt {
    background-color: var(--ge);
    padding: .67rem 3.1rem ;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0.8rem;
    width:25rem;
    height:4.4rem;
    border: 0;
  }